body {
    font-family: "Noto sans";
}

.background {
    height: 100vh;
    background-image: url('../assets/images/background.jpg');
    background-position: center;
    background-size: cover;
}

h1 {
    font-weight: bold;
}

.card {
    background-color: #ffffffbb;
}